{
  "storage-driver": "overlay2",
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "5",
    "compress": "true"
  }
{{ docker_daemon_config | to_nice_json(indent=2) if docker_daemon_config is defined }}
}