{
  "storage-driver": "overlay2",
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "5",
    "compress": "true"
  },
{% if docker_ipv6 %}
  "ipv6": true,
  "fixed-cidr-v6": "{{ docker_ipv6_subnet }}",
{% endif %}
  "metrics-addr": "{{ docker_metrics_address }}"
}